{% extends 'gradetracker/template.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
<body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}<br>
    {% if course.id%}
    <form action = "{% url 'gradetracker:addAssignment' course.id%}" method = "post">
    {% csrf_token %}
        <div class = "tabbed">
            <label class = "section">Add an assignment to {{ course.name }}</label>
        </div>
        <hr class="my-4">
        <div class = "tabbed">
            <div>
                <input type="hidden" name="notify" value="False">
                <input type="checkbox" id="notify" name="notify" value="True">
                <label for="notify">Notify me when due date is near</label>
            </div>
            <br>
        </div>
        <div>
            <div class="col-3">
                <label for="assignmentName">Assignment Name</label>
                <input type="text" class="form-control" id="assignmentName" name="assignmentName" required pattern=".*">
            </div>
            <br>
            <div class="col-2">
                <label for="weight">Grade Received</label>
                <input type="text" class="form-control" id="weight" name="weight" required pattern="[0-9]+\.+[0-9][0-9]" placeholder="Ex: 30.50" title="In format of XX.XX">
            </div>
            <br>
            <div class="col-2">
                <label for="date">Due Date</label>
                <input type="text" class="form-control" id="date" name="date" value = "Ex: 2015-06-23" title = "In format of yyyy-mm-dd">
            </div>
            {% if grade_categories %}
                <ul class = "list-group">
                    <label>Category it Belongs To</label>
                {% for category in grade_categories %}
                    <input type="radio" name="categoryChoice" id="choice{{ forloop.counter }}" value="{{category.id}}">
                    <label for="choice{{ forloop.counter }}" >{{ category.name }}</label><br>
                {% endfor %}
                </ul>
            {% endif %}

            <br>
            <div class="tabbed">
                <button type="submit" class="btn btn-info" onclick="return confirm('Are you sure you want to submit?')">Submit</button>
            </div>
        </div>
    </form>
    {% endif %}
</body>

{% endblock %}