{% extends 'gradetracker/template.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        

<div id ="overlay"></div>
{% if courses_list %}
<div class="m container justify-content-center" id="main">



   

 <!-- new course modal-->
   <div id="addNewCourse" class="w3-modal" style="z-index: 2;">
        <div class="w3-modal-content w3-animate-top " style="border-radius: 15px;">
          <div class="card scene_element scene_element--fadein" style="width: auto; overflow: hidden;" id="beautifiedCard">
            <div class="card-body" style="padding-bottom: 1.75%;">
        
              <h3 class="card-title" style="text-align: center;"><b>
                Add a Course to Your Schedule
              </b></h3>
              <p class="card-text" style="color:black; text-align: center;">
                <form action = "{% url 'gradetracker:add' %}" method = "post">
                {% csrf_token %}
                <input type="hidden" name="included" value="True">
                <div style="padding:2%">
                <label for="courseTitle"><b>Course Name</b></label>
                <input type="text" class="form-control" id="courseTitle" name="courseTitle" required pattern=".*" placeholder="PHYS 2415">
                </div>
    
                <div style="padding:2%">
                <label for="credits"><b>Credits</b></label>
                <input class="form-control" type="number" value="3" id="credits" name="credits" min="1" max="6">
                </div>

                <div style="padding:2%">
                <label for="goal">Target Grade (out of 100)</label>
                <input type="number" class="form-control" id="goal" name="goal" required pattern="[0-9]+\.[0-9][0-9]" placeholder="Ex: 95.00" min="0.5" max="100" step="0.5">
                </div>
                
                <input type="hidden" class="submitOrCancel" id="submitOrCancel" name="submitOrCancel" value="">
                
                <div style="text-align: center;">
                <button type="submit" class="btn btn-info" style="margin-left:2%;margin-right:0.5%;margin-top:2%;background-color: rgb(27,27,27);border-style: none;border-radius: 20px;" onclick="enableEverything()"><b>ADD</b></button>
                <button type="cancel" class="btn btn-danger" style="margin-top:2%;border-radius: 20px;background-color: #ff3737;border-style: none;" onclick="document.getElementById('addNewCourse').style.display='none';document.getElementById('overlay').style.display='none';cancelEverything()"><b>CANCEL</b></button>
                </div>
    
                </form></p>
              </div></div>
        </div>
      </div>
      <!-- end new course modal-->


      <!-- new grade category modal-->

      {% for course in courses_list %}

      <div id="{{course.id}}CATEGORY" class="w3-modal" style="z-index: 2;">
        <div class="w3-modal-content w3-animate-top " style="border-radius: 15px;">
          <div class="card scene_element scene_element--fadein" style="width: auto; overflow: hidden;" id="beautifiedCard">
            <div class="card-body" style="padding-bottom: 1.75%;">
        
              <h3 class="card-title" style="text-align: center;"><b>
                Add a Grade Category to {{course.name}}
              </b></h3>
              <p class="card-text" style="color:black; text-align: center;">
                <form action = "{% url 'gradetracker:gradecat' course.id%}" method = "post">
                {% csrf_token %}
                <input type="hidden" name="included" value="True">
                <div style="padding:2%">
                <label for="name"><b>Name of Grade Category</b></label>
                <input type="text" class="form-control" id="name" name="name" required pattern=".*" placeholder="Exams">
                </div>
    
                <div style="padding:2%">
                <label for="weight">% Weightage Towards Overall Grade</label>
                <input type="number" class="form-control" id="weight"  name="weight" required pattern="[0-9]+\.[0-9][0-9]" placeholder="Ex: 15" max="99.99" min="1"> 
                </div>

                
                <input type="hidden" class="submitOrCancel" id="submitOrCancel" name="submitOrCancel" value="">
                
                <div style="text-align: center;">
                <button type="submit" class="btn btn-info" style="margin-left:2%;margin-right:0.5%;margin-top:2%;background-color: rgb(27,27,27);border-style: none;border-radius: 20px;" onclick="enableEverything()"><b>ADD</b></button>
                <button type="cancel" class="btn btn-danger" style="margin-top:2%;border-radius: 20px;background-color: #ff3737;border-style: none;" onclick="document.getElementById('{{course.id}}CATEGORY').style.display='none';document.getElementById('overlay').style.display='none';cancelEverything()"><b>CANCEL</b></button>
                </div>
    
                </form></p>
              </div></div>
        </div>
      </div>

      {% endfor %}

      <!-- end new grade category modal-->


    <!--<ul>-->
        <div class="cardGrid">
{% if showReportCardOrNot %}
<!--DASHBOARD OVERVIEW CARD-->
<div class="card scene_element scene_element--fadein" style="width: auto; float:left" id="beautifiedCard">
  <div class="card-body" style="padding-bottom: 1.75%;">
    <h4 class="card-title"><b>Your Report Card
      
      {% if not student.cumulativeGPA.gradePercentage == None %}
              <div style="float:right">
              {% if student.cumulativeGPA.didGradeGoUp %}
              <span style="color:rgb(0, 165, 27);" class="fa fa-caret-up">
              {% elif student.cumulativeGPA.didGradeGoUp == False %}
              <span style="color:red;" class="fa fa-caret-down">
              {% else %}
              <span style="color:rgb(27,27,27);">
              {% endif %}
              </span>&nbsp;&nbsp;{{ student.cumulativeGPA.gradePercentage }} GPA
              </div>
      {% endif %}
    
    
    </b></h4>
    <p class="card-text" style="color:black; text-align: center;">
      
      
      <table style="margin-top: 5%;width:100%;text-align: center;margin-bottom: 5%;">
        <tr style="padding:1%">
          <th>Class Name</th>
          <th>Credits</th>
          <th>Grade</th>
        </tr>
        {% for course in courses_list %}
                  {% if not course.avgGrade == None and course.Include_In_GPA == True%}
                  <tr>
                  <td>{{course.name}}</td>
                  <td>{{course.number_Of_Credits}}</td>
                  <td><b>
                  {% if course.avgGrade.didGradeGoUp %}
                  <span style="color:rgb(0, 165, 27)"><span class="fa fa-caret-up"></span>&nbsp;{{ course.avgGrade.gradePercentage }}%</span>
                  {% elif course.avgGrade.didGradeGoUp == None %}
                  <span style="color:rgb(27,27,27)">{{ course.avgGrade.gradePercentage }}%</span>
                  {% else %}
                  <span style="color:red"><span class="fa fa-caret-down"></span>&nbsp;{{ course.avgGrade.gradePercentage }}%</span>
                  {% endif %}
                  {% endif %}</b></td>
                </tr>
      {% endfor %}
      </table>

      
      
    </p>
    <span style="color:rgb(34, 34, 34); float: right;"><b>{{cum}} credits being tracked</b></span>

  </div>

<!--END OF DASHBOARD OVERVIEW CARD--></div>
{% endif %}
          



    {% for course in courses_list %}

    <div id="{{course.id}}ASS" class="w3-modal" style="z-index: 2;">
      <div class="w3-modal-content w3-animate-top " style="border-radius: 15px;">
        <div class="card scene_element scene_element--fadein" style="width: auto; overflow: hidden;" id="beautifiedCard">
          <div class="card-body" style="padding-bottom: 1.75%;">
      
            
      
            <h3 class="card-title" style="text-align: center;"><b>
              Add an Assignment
            </b></h3>
            <p class="card-text" style="color:black; text-align: center;">
              <form action = "{% url 'gradetracker:addAssignment' course.id%}" method = "post">
              {% csrf_token %}
  
              <div style="padding:2%">
              <label for="assignmentName"><b>Name</b></label>
              <input type="text" class="form-control" id="assignmentName" name="assignmentName" required pattern=".*" placeholder="Quiz 3">
              </div>
  
              <div style="padding:2%">
              <label for="weight"><b>% Grade Earned</b></label>
              <input type="number" class="form-control" id="weight" name="weight" required pattern="[0-9]+\.+[0-9][0-9]" placeholder="Ex: 81" title="In format of XX.XX" min="1" max="100" step="0.01">
              </div>
              
              <div style="padding:2%">
              <label><b>Category it Belongs To</b></label><br/>
              {% for key, value in coursesAndTheirCategories.items %}
                {% if key == course %}
                {% for category in value %}
                    <input type="radio" name="categoryChoice" id="choice{{ forloop.counter }}" value="{{category.id}}">
                    <label for="choice{{ forloop.counter }}" >{{ category.name }}</label><br>
                {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
              <input type="hidden" class="submitOrCancel" id="submitOrCancel" name="submitOrCancel" value="">
              
              <div style="text-align: center;">
              <button type="submit" class="btn btn-info" style="margin-left:2%;margin-right:0.5%;margin-top:2%;background-color: rgb(27,27,27);border-style: none;border-radius: 20px;" onclick="enableEverything()"><b>ADD</b></button>
              <button type="cancel" class="btn btn-danger" style="margin-top:2%;border-radius: 20px;background-color: #ff3737;border-style: none;" onclick="document.getElementById('{{course.id}}ASS').style.display='none';document.getElementById('overlay').style.display='none';cancelEverything()"><b>CANCEL</b></button>
              </div>
  
              </form></p>
            </div></div>
      </div>
    </div>
        
        <!--<li class="list-group-item">-->      
            <div class="card scene_element scene_element--fadein" style="width: auto" id="beautifiedCard">
                <div class="card-body" style="padding-bottom: 1.75%;">
                    <!-- List all the courses associated with a user -->
                    <a href="{% url 'gradetracker:course_overview' course_id=course.id%}" class="mainLogo"> <h4 class="card-title" style="color:rgb(29, 29, 29)"><b>{{ course.name }}
                      {% if course.Verified_Class %}
                       <span id="verification" class="rotunda" style="vertical-align: -1px;"></span>
                       {% endif %}
                      
                      {% if not course.avgGrade == None %}
                      <div style="float:right">
                      {% if course.avgGrade.didGradeGoUp %}
                      <span class="fa fa-caret-up" style="color:rgb(0, 165, 27);vertical-align: 1px;" title="Grade increased since last time"></span><span style="color:rgb(0, 165, 27);">
                      {% else %}
                      <span class="fa fa-caret-down" style="color:red;vertical-align: 1px;" title="Grade decreased since last time"></span><span style="color:red;">
                      {% endif %}
                    &nbsp;{{ course.avgGrade.gradePercentage }}%</span>
                  </div>
                  {% endif %}
                    </b></h4></a>


                    


                  <p class="card-text" style="color:black; text-align: center;">


                    <div style="text-align: center;padding-bottom: 3%;padding-top: 2%;">

                      <a onclick="document.getElementById('overlay').style.display='block';document.getElementById('{{course.id}}CATEGORY').style.display='block';" class="btn btn-primary scene_element scene_element--fadein" style="color:white;border-radius: 99px;box-shadow: 0 5px 15px rgba(18, 73, 255, 0.4);font-size: small;"><b>&nbsp;<span class="ti-plus" style="vertical-align: -1.85px;"></span>&nbsp;&nbsp;ADD A CATEGORY&nbsp;</b></a>
    
                      &nbsp;
                      <a onclick="document.getElementById('overlay').style.display='block';document.getElementById('{{course.id}}ASS').style.display='block';" class="btn btn-primary" style="border-radius: 99px;box-shadow: 0 5px 15px rgba(18, 73, 255, 0.4);color:white;font-size: small;">
                        <b>&nbsp;<span class="ti-plus" style="vertical-align: -1.85px;"></span>&nbsp;&nbsp;ADD A GRADED ITEM</a></b>
                      
                    
                    </div>

                {% for key, value in coursesAndTheirCategories.items %}
                {% if key == course %}
                <a href="{% url 'gradetracker:course_overview' course_id=course.id%}" class="mainLogo">
                <table style="width:100%;text-align: center;margin-bottom: 5%;">
                  <tr style="padding:1%">
                    <th>Category</th>
                    <th>Weightage</th>
                    <th>Grade</th>
                  </tr> <!--should only run once, only one time will the course == key (theoretically)-->
                {% for category in value %}
                            <tr>
                            <td>{{category.name}}</td>
                            <td>{{category.weightage|floatformat}}%</td>
                            <td><b>
                            {% if category.avgCategoryGrade.didGradeGoUp %}
                            <span style="color:rgb(0, 165, 27)"><span class="fa fa-caret-up"></span>&nbsp;{{ category.avgCategoryGrade.gradePercentage }}%</span>
                            {% elif category.avgCategoryGrade.didGradeGoUp == None %}
                            <span style="color:rgb(27,27,27)">{{ category.avgCategoryGrade.gradePercentage }}%</span>
                            {% else %}
                            <span style="color:red"><span class="fa fa-caret-down"></span>&nbsp;{{ category.avgCategoryGrade.gradePercentage }}%</span></b>
                            {% endif %}
                            </td>
                          </tr>
                {% endfor %}
                </table>
              </a>
                {% endif %}
                {% endfor %}

                
              </p>
                  
              

                  


                  <a href="{% url 'gradetracker:delete_course' course_id=course.id%}" onclick="return confirm('Are you sure you want to delete this course?')" id="miniButtonRed"><span class="ti-trash"></span></a>
                  <a href="{% url 'gradetracker:duplicate_course' course_id=course.id%}" onclick="" id="miniButtons"><span class="ti-layers"></span></a>
                  <a href="{% url 'gradetracker:course_overview' course_id=course.id%}" onclick="" id="miniButtons" style="vertical-align: 1px; padding-right: 1%;"><span class="ti-new-window"></span></a>
                      
                  <label class="switch" style="vertical-align: 18.5px;margin-left: 1.25%;">
                    <input type="checkbox" onclick="calc('{{course.id}}','{{course.Include_In_GPA}}');" {% if course.Include_In_GPA %} checked{% endif %}>
                    <span class="slider round"></span>
                  </label><span style="font-size: 0.4em;vertical-align: 2.75px;">&nbsp;&nbsp;&nbsp;<b>COUNT IN REPORT CARD</b></span>

                  <span style="color:rgb(32, 32, 32); float: right;"><b>{{ course.number_Of_Credits|floatformat }} credits</b></span>

                </div>
              </div>
              
        <!--</li>-->
        
    {% endfor %}
            </div>
    
    </ul>

</div>

<!-- If the user has no courses -->
{% else %}
<div>
<p> <img src = "{% static 'gradetracker/addcourse.png' %}" width="25%" style="margin-top: 4%;margin-right:8%;margin-left:8%;float: right;"><br/>
    <h1 style="color: rgb(51, 51, 51);margin-top: 0%;margin-left: 6%;font-size: 5vw;line-height: 130%;font-family: Source Sans Pro;">Get started tracking your academic performance.</h1>
    <a href="{% url 'gradetracker:add' %}" class="addCourseButton" style="margin-left: 6%;margin-top:4%"><b>ADD COURSE&nbsp;&nbsp;<span class="ti-hand-point-right" style="vertical-align: -1px;"></span></b></a>

</p>
</div>

 

{% endif %}


    <script>
      function calc(coursePassedIn,shouldIncludeInGPA)
{
  $.ajax({
        type:'POST',
        url:'{% url "gradetracker:gpaInclude" %}',
        data:{
          csrfmiddlewaretoken:'{{ csrf_token }}',
          courseToAffect: coursePassedIn,
            
        },
        success:function(json){
            window.location.reload()
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
}


function cancelEverything() {
  var formsToDisable = document.getElementsByClassName("submitOrCancel");
  var x;
  for (x in formsToDisable) {
    formsToDisable[x].value=0;
  }
}

function enableEverything() {
  var formsToEnable = document.getElementsByClassName("submitOrCancel");
  var x;
  for (x in formsToEnable) {
    formsToEnable[x].value=1;
  }
}


        
            </script>
 
        

{% endblock content %}