{% extends 'gradetracker/template.html' %}
{% block content %}
{% load static %}



        

        
{% if courses_list %}
<div class="container justify-content-center">


<div style="padding-bottom: 2%; text-align: center;">
  <a href="{% url 'gradetracker:add' %}" class="btn btn-primary" style="width: auto; border-radius: 99px;box-shadow: 0 5px 15px rgba(18, 73, 255, 0.4);"><b>add another course</b></a>
  </div>

    <!--<ul>-->
        <div class="cardGrid">



          <!--DASHBOARD OVERVIEW CARD-->
    <div class="card" style="width: auto" id="beautifiedCard">
      <div class="card-body" style="padding-bottom: 1.75%;">
        <h4 class="card-title"><b>At a glance<span style="float:right; color:green">69.0 GPA</span></b></h4>
        <p class="card-text" style="color:black; text-align: left;">
          use this space for upcoming assignment due dates, gain/loss percent for classes, semester GPA,
          
        </p>
        <span style="color:black; float: right;"><b>420 credits being tracked</b></span>

      </div>
    </div>
    <!--END OF DASHBOARD OVERVIEW CARD-->



    {% for course in courses_list %}
        
        <!--<li class="list-group-item">-->      
            <div class="card" style="width: auto" id="beautifiedCard">
                <div class="card-body" style="padding-bottom: 1.75%;">
                    <!-- List all the courses associated with a user -->
                  <h4 class="card-title"><b>{{ course.name }}<span style="float:right; color:green">X%</span></b></h4>
                  <p class="card-text" style="color:black; text-align: center;">
                    
                    <!--do not uncomment, we are not ready for this monstrosity<a href="" data-modal="#modal" class="modal__trigger" >add a grade category</a>-->
                    
                    
                  </p>


                  <a href="{% url 'gradetracker:delete_course' course_id=course.id%}" onclick="return confirm('Are you sure you want to delete this course?')" id="miniButtonRed"><span class="ti-trash"></span></a>
                  <a href="{% url 'gradetracker:duplicate_course' course_id=course.id%}" onclick="" id="miniButtons"><span class="ti-layers"></span></a>
                  <a href="" onclick="" id="miniButtons" style="vertical-align: 1px; padding-right: 1%;"><span class="ti-new-window"></span></a>


                  <span style="color:black; float: right;"><b>{{ course.number_Of_Credits }} credits</b></span>

                </div>
              </div>
        <!--</li>-->
        
    {% endfor %}
            </div>
    
    </ul>

</div>

{% else %}
<div>
<p> <img src = "{% static 'gradetracker/addcourse.png' %}" width="25%" style="margin-top: 4%;margin-right:8%;margin-left:8%;float: right;"><br/>

  <h1 style="color: rgb(110, 72, 128);margin-top: 4%;margin-left: 6%;font-size: 5vw;line-height: 130%;">Get started tracking your academic performance.</h1>
      


  <a href="{% url 'gradetracker:add' %}" class="addCourseButton" style="margin-left: 6%;margin-top:2%"><b>add course&nbsp;&nbsp;<span class="ti-hand-point-right" style="vertical-align: -1px;"></span></b></a>
</p>
  
 

{% endif %}

<div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
    <div class="modal__dialog" > 
    <div class="modal__content">
    <h1>Modal</h1>
    <p></p>
    
    <a href="" class="modal__close demo-close">
    close
    </a>
    </div>
    </div>
    </div>

    <!--below code from https://codepen.io/ettrics/pen/Jdjdzp-->
    <script>
        var Modal = function () {
        
          var trigger = $qsa('.modal__trigger'); // what you click to activate the modal
          var modals = $qsa('.modal'); // the entire modal (takes up entire window)
          var modalsbg = $qsa('.modal__bg'); // the entire modal (takes up entire window)
          var content = $qsa('.modal__content'); // the inner content of the modal
          var closers = $qsa('.modal__close'); // an element used to close the modal
          var w = window;
          var isOpen = false;
          var contentDelay = 400; // duration after you click the button and wait for the content to show
          var len = trigger.length;
        
          // make it easier for yourself by not having to type as much to select an element
          function $qsa(el) {
            return document.querySelectorAll(el);
          }
        
          var getId = function (event) {
        
            event.preventDefault();
            var self = this;
            // get the value of the data-modal attribute from the button
            var modalId = self.dataset.modal;
            var len = modalId.length;
            // remove the '#' from the string
            var modalIdTrimmed = modalId.substring(1, len);
            // select the modal we want to activate
            var modal = document.getElementById(modalIdTrimmed);
            // execute function that creates the temporary expanding div
            makeDiv(self, modal);
          };
        
          var makeDiv = function (self, modal) {
        
            var fakediv = document.getElementById('modal__temp');
        
            /**
                                                                   * if there isn't a 'fakediv', create one and append it to the button that was
                                                                   * clicked. after that execute the function 'moveTrig' which handles the animations.
                                                                   */
        
            if (fakediv === null) {
              var div = document.createElement('div');
              div.id = 'modal__temp';
              self.appendChild(div);
              moveTrig(self, modal, div);
            }
          };
        
          var moveTrig = function (trig, modal, div) {
            var trigProps = trig.getBoundingClientRect();
            var m = modal;
            var mProps = m.querySelector('.modal__content').getBoundingClientRect();
            var transX, transY, scaleX, scaleY;
            var xc = w.innerWidth / 2;
            var yc = w.innerHeight / 2;
        
            // this class increases z-index value so the button goes overtop the other buttons
            trig.classList.add('modal__trigger--active');
        
            // these values are used for scale the temporary div to the same size as the modal
            scaleX = mProps.width / trigProps.width;
            scaleY = mProps.height / trigProps.height;
        
            scaleX = scaleX.toFixed(3); // round to 3 decimal places
            scaleY = scaleY.toFixed(3);
        
        
            // these values are used to move the button to the center of the window
            transX = Math.round(xc - trigProps.left - trigProps.width / 2);
            transY = Math.round(yc - trigProps.top - trigProps.height / 2);
        
            // if the modal is aligned to the top then move the button to the center-y of the modal instead of the window
            if (m.classList.contains('modal--align-top')) {
              transY = Math.round(mProps.height / 2 + mProps.top - trigProps.top - trigProps.height / 2);
            }
        
        
            // translate button to center of screen
            trig.style.transform = 'translate(' + transX + 'px, ' + transY + 'px)';
            trig.style.webkitTransform = 'translate(' + transX + 'px, ' + transY + 'px)';
            // expand temporary div to the same size as the modal
            div.style.transform = 'scale(' + scaleX + ',' + scaleY + ')';
            div.style.webkitTransform = 'scale(' + scaleX + ',' + scaleY + ')';
        
        
            window.setTimeout(function () {
              window.requestAnimationFrame(function () {
                open(m, div);
              });
            }, contentDelay);
        
          };
        
          var open = function (m, div) {
        
            if (!isOpen) {
              // select the content inside the modal
              var content = m.querySelector('.modal__content');
              // reveal the modal
              m.classList.add('modal--active');
              // reveal the modal content
              content.classList.add('modal__content--active');
        
              /**
                                                                * when the modal content is finished transitioning, fadeout the temporary
                                                                * expanding div so when the window resizes it isn't visible ( it doesn't
                                                                * move with the window).
                                                                */
        
              content.addEventListener('transitionend', hideDiv, false);
        
              isOpen = true;
            }
        
            function hideDiv() {
              // fadeout div so that it can't be seen when the window is resized
              div.style.opacity = '0';
              content.removeEventListener('transitionend', hideDiv, false);
            }
          };
        
          var close = function (event) {
        
            event.preventDefault();
            event.stopImmediatePropagation();
        
            var target = event.target;
            var div = document.getElementById('modal__temp');
        
            /**
                                                               * make sure the modal__bg or modal__close was clicked, we don't want to be able to click
                                                               * inside the modal and have it close.
                                                               */
        
            if (isOpen && target.classList.contains('modal__bg') || target.classList.contains('modal__close')) {
        
              // make the hidden div visible again and remove the transforms so it scales back to its original size
              div.style.opacity = '1';
              div.removeAttribute('style');
        
              /**
                                            * iterate through the modals and modal contents and triggers to remove their active classes.
                                               * remove the inline css from the trigger to move it back into its original position.
                                            */
        
              for (var i = 0; i < len; i++) {
                modals[i].classList.remove('modal--active');
                content[i].classList.remove('modal__content--active');
                trigger[i].style.transform = 'none';
                trigger[i].style.webkitTransform = 'none';
                trigger[i].classList.remove('modal__trigger--active');
              }
        
              // when the temporary div is opacity:1 again, we want to remove it from the dom
              div.addEventListener('transitionend', removeDiv, false);
        
              isOpen = false;
        
            }
        
            function removeDiv() {
              setTimeout(function () {
                window.requestAnimationFrame(function () {
                  // remove the temp div from the dom with a slight delay so the animation looks good
                  div.remove();
                });
              }, contentDelay - 50);
            }
        
          };
        
          var bindActions = function () {
            for (var i = 0; i < len; i++) {
              trigger[i].addEventListener('click', getId, false);
              closers[i].addEventListener('click', close, false);
              modalsbg[i].addEventListener('click', close, false);
            }
          };
        
          var init = function () {
            bindActions();
          };
        
          return {
            init: init };
        
        
        }();
        
        Modal.init();
        //# sourceURL=pen.js
            </script>
 
        

{% endblock content %}