{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'gradetracker/style.css' %}">
<style>
.tabbed {
    padding-left: 40px;
}
</style>
<div class = "jumbotron">
    <h1 class = "display-3" align = "center">Four80ty's Grade Tracker</h1>
    <p class = "lead" align = "center">You like what you see? >;]</p>
    <hr class="my-4">
    <nav class="nav">
        <form>
            <div class="form-row">
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
            </div>
            <div class="form-row">
                <a class="nav-item nav-link" href="{% url 'gradetracker:index' %}">Overview</a>
                <a class="nav-item nav-link" href="{% url 'gradetracker:add' %}">Add a Course</a>
            </div>
        </form>
        <hr class="my-4">
        {% if user.is_authenticated %}
            <form method = "post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class = "btn btn-info" onclick="return confirm('Are you sure you want to logout?')">Logout</button>
            </form>
        {% else %}
            <form>
                <div class = "form-row">
                    <a class="btn btn-info" href="{% provider_login_url 'google' %}">Login</a>
                </div>
            </form>
            {% endif %}
    </nav>
</div>
<div>
    {% block content %}
    {% endblock %}
</div>
<br>

<div class = "page-footer">
    <p align = "center">Author: Four80ty</p>
    <p align = "center">Copyrighted Very Legally&copy;</p>
</div>
