{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'gradetracker/style.css' %}">
<style>
.tabbed {
    padding-left: 40px;
}
</style>

<div class = "jumbotron" style="background-color: transparent; padding-top: 2%; padding-bottom: 0%; transition-duration: 1s;margin-bottom: 0;">
    <a class="mainLogo" href="/"><h2 align="left"><b>{{course}}</b></h2></a>
    <p align = "left" style="color:#2c2c2c;padding-bottom: 0.5%;line-height: 1.8;"><b>
        <span class="ti-receipt" style="vertical-align: -2px;"></span>&nbsp;&nbsp;{{course.number_Of_Credits}} credits<br />
        <span class="ti-email" style="vertical-align: -2px;"></span>&nbsp;&nbsp;{{ course.Professor_Email }}<br />
        {% if course.Verified_Class %}<span class="ti-face-smile" style="vertical-align: -1px;"></span>&nbsp;&nbsp;Verified Course<br />{% endif %}
        <span class="ti-bar-chart" style="vertical-align: -0.75px;"></span>&nbsp;&nbsp;69% Average Grade (from VAgrades.com) <br />
    </b>
    </p>
    
    
    <div style="padding-bottom: 2%;">

        {% if user.is_authenticated %}
            <form method = "post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}


                

                <a href="/dashboard/" class="btn btn-primary" style="width: auto; border-radius: 99px;background-color:rgb(27, 27, 27);box-shadow: 0px 3px 10px rgba(0,0,0,0.15);border-style: none;">
                <b>&nbsp;<span class="ti-arrow-left" style="vertical-align: -1.5px;"></span>&nbsp;&nbsp;BACK TO DASHBOARD&nbsp;</a></b>

                <!--
                <button type="submit" class="btn btn-info" onclick="return confirm('Are you sure you want to logout?')" id="logOutButton">&nbsp;<b><span class="ti-close" style="vertical-align: -1.5px;"></span>&nbsp;&nbsp;logout&nbsp;</b></button>-->
                
                <a href="{% url 'gradetracker:gradecat' course_id=course.id%}" class="btn btn-primary" style="width: auto; border-radius: 99px;box-shadow: 0 5px 15px rgba(18, 73, 255, 0.4);float:right"><b>&nbsp;<span class="ti-plus" style="vertical-align: -1.85px;"></span>&nbsp;&nbsp;ADD ANOTHER GRADE CATEGORY&nbsp;</b></a>

            </form>
        {% else %}
        <form>
            <div class = "form-row">
                <a class="btn btn-info" href="{% provider_login_url 'google' %}" id="logInButton">Sign in with Google</a>
            </div>
        </form>
            {% endif %}
    </div>
    
</div>
<div>
    {% block content %}
    {% endblock %}
</div>
<br>

<!--
<div class = "page-footer">
    <p align = "center">Author: Four80ty</p>
    <p align = "center">Copyrighted Very Legally&copy;</p>
</div>
-->