p {
    color: #33cccc;
}

a {
    color: #33cccc;
}

.section {
    color: black;
    font-weight: bold;
    font-size: 200%;
}

.labelHeader {
    color: #33cccc;
    font-weight: bold;
}

html {
  overflow-y: scroll;
}
